<div>
    <div class="btn-group pull-right">
        <button ng-class="filter.date === 'today' ? 'active' : ''" ng-click="filter.date = 'today'; $event.preventDefault();"
                class="btn">
            Сегодня
        </button>
        <button ng-class="filter.date === 'yesterday' ? 'active' : ''" ng-click="filter.date = 'yesterday'; $event.preventDefault();"
                class="btn">
            Вчера
        </button>
        <button ng-class="filter.date === 'week' ? 'active' : ''" ng-click="filter.date = 'week'; $event.preventDefault();"
                class="btn">
            Неделя
        </button>
        <button ng-class="filter.date === 'month' ? 'active' : ''" ng-click="filter.date = 'month'; $event.preventDefault();"
                class="btn">
            Месяц
        </button>
    </div>

    <div ng-switch on="hideTypeFilter !== true">
        <div ng-switch-when="true" class="btn-group pull-right" style="margin-right: 10px;">
            <button ng-class="filter.type === 'createdAt' ? 'active' : ''" ng-click="filter.type = 'createdAt'; $event.preventDefault();"
                    class="btn">
                Создан
            </button>
            <button ng-class="filter.type === 'lastHitAt' ? 'active' : ''" ng-click="filter.type = 'lastHitAt'; $event.preventDefault();"
                    class="btn">
                Активность
            </button>
        </div>
    </div>

    <div ng-switch on="status" class="loading-status pull-right" ng-click="filter.refresh = true; $event.preventDefault();">
        <div class="animate-switch-container">
            <span class="glyphicon glyphicon-refresh animate-switch" ng-switch-when="loading"></span>
            <span class="glyphicon glyphicon-thumbs-down animate-switch" ng-switch-when="error"></span>
            <span class="glyphicon glyphicon-thumbs-up animate-switch" ng-switch-when="loaded"></span>
            <span class="glyphicon glyphicon-thumbs-up animate-switch" ng-switch-default></span>
        </div>
    </div>
</div>
