<div>
    <div class="pagetitle">
        <h1>Компании</h1>
        <div filter></div>
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="grid-content overflow" style="width: 100%;">

            <table class="table table-bordered table-mod-2">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Пользователей</th>
                    <th>Создана</th>
                    <th>Последняя активность</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in companies">
                        <td><a href="/companies/{{item.id}}/users">{{item.name}}</a></td>
                        <td>{{item.count | number}}</td>
                        <td>{{item.createdAt | date:'short'}}</td>
                        <td>{{item.lastHitAt | date:'short'}}</td>
                    </tr>
                </tbody>
            </table>


            <div class="clearfix"></div>
        </div>
    </div>
</div>
