<div>
    <div class="pagetitle">
        <h1>Компании</h1>
        <div class="btn-group pull-right">
            <button ng-class="filter.date === 'today' ? 'active' : ''" ng-click="filter.date = 'today'; $event.preventDefault();"
                    class="btn">
                Сегодня
            </button>
            <button ng-class="filter.date === 'week' ? 'active' : ''" ng-click="filter.date = 'week'; $event.preventDefault();"
                    class="btn">
                Неделя
            </button>
            <button ng-class="filter.date === 'month' ? 'active' : ''" ng-click="filter.date = 'month'; $event.preventDefault();"
                    class="btn">
                Месяц
            </button>
        </div>

        <div class="btn-group pull-right" style="margin-right: 10px;">
            <button ng-class="filter.type === 'createdAt' ? 'active' : ''" ng-click="filter.type = 'createdAt'; $event.preventDefault();"
                    class="btn">
                Создан
            </button>
            <button ng-class="filter.type === 'lastHitAt' ? 'active' : ''" ng-click="filter.type = 'lastHitAt'; $event.preventDefault();"
                    class="btn">
                Активность
            </button>
        </div>

        <div ng-switch on="status" class="loading-status pull-right">
            <div class="animate-switch-container">
                <span class="glyphicon glyphicon-refresh animate-switch" ng-switch-when="loading"></span>
                <span class="glyphicon glyphicon-thumbs-down animate-switch" ng-switch-when="error"></span>
                <span class="glyphicon glyphicon-thumbs-up animate-switch" ng-switch-when="loaded"></span>
                <span class="glyphicon glyphicon-thumbs-up animate-switch" ng-switch-default></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="grid-content overflow" style="width: 100%;">

            <table class="table table-bordered table-mod-2">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Пользователей</th>
                    <th>Действий</th>
                    <th>Хитов</th>
                    <th>Создана</th>
                    <th>Последняя активность</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in companies">
                        <td><a href="/companies/{{item.id}}/users">{{item.name}}</a></td>
                        <td>{{item.count | number}}</td>
                        <td>{{item.events | number}}</td>
                        <td>{{item.hits | number}}</td>
                        <td>{{item.createdAt | date:'short'}}</td>
                        <td>{{item.lastHitAt | date:'short'}}</td>
                    </tr>
                </tbody>
            </table>


            <div class="clearfix"></div>
        </div>
    </div>
</div>
