<div three-with-graphic></div>
<!--
<div class="grid-transparent row quick-stats-box">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="color-box">
            <span>21</span> twetts
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="color-box red">
            <span>11</span> COMMENTS
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="color-box orange">
            <span>28</span> photos
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
        <div class="color-box green">
            <span>51</span> followerss
        </div>
    </div>
</div>
-->
<div class="clearfix"></div>
<!--
<div class="grid">
    <div class="grid-title">
        <div class="pull-left">
            <div class="icon-title"><i class="icon-bar-chart"></i></div>
            <span>Active Users</span>
            <div class="clearfix"></div>
        </div>
        <div class="pull-right">
            <div class="icon-title"><a href="#"><i class="icon-refresh"></i></a></div>
            <div class="icon-title"><a href="#"><i class="icon-user"></i></a></div>
            <div class="icon-title"><a href="#"><i class="icon-cog"></i></a></div>
        </div>
        <div class="clearfix"></div>
    </div>

    <div class="grid-content overflow">
        <div id="activeUsers" class="chart-active" style="padding: 0px; position: relative;"><canvas class="flot-base" width="1359" height="215" style="width: 1359px; height: 215px;"></canvas><canvas class="flot-overlay" width="1359" height="215" style="position: absolute; left: 0px; top: 0px; width: 1359px; height: 215px;"></canvas></div>
        <div class="clear"></div>
    </div>

    <div class="information-data-2">
        <div class="data">
            <p class="date-figures">345</p>
            <p class="date-title">User Download</p>
        </div>
        <div class="data">
            <p class="date-figures">54.5C</p>
            <p class="date-title">User Download</p>
        </div>
        <div class="data">
            <p class="date-figures">120R</p>
            <p class="date-title">User Download</p>
        </div>
    </div>

</div>
-->
<div class="row">
    <div visitors></div>
    <div hit-slowest></div>

    <!--
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="grid">
            <div class="grid-title">
                <div class="pull-left">
                    <div class="icon-title"><i class="icon-file"></i></div>
                    <span>Visitor Statistics</span>
                    <div class="clearfix"></div>
                </div>
                <div class="pull-right">
                    <div class="icon-title"><a href="#"><i class="icon-refresh"></i></a></div>
                    <div class="icon-title"><a href="#"><i class="icon-cog"></i></a></div>
                </div>
                <div class="clearfix"></div>
            </div>

            <div class="grid-content overflow">
                <ul class="list-visitor">
                    <li><span class="linecustom"><canvas width="100" height="26" style="display: inline-block; width: 100px; height: 26px; vertical-align: top;"></canvas></span>
                        Visits:
                        <span class="number">356</span>
                    </li>
                    <li><span class="linecustom"><canvas width="100" height="26" style="display: inline-block; width: 100px; height: 26px; vertical-align: top;"></canvas></span>
                        Unique Visitors:
                        <span class="number">24</span>
                    </li>
                    <li><span class="linecustom"><canvas width="100" height="26" style="display: inline-block; width: 100px; height: 26px; vertical-align: top;"></canvas></span>
                        Pageviews:
                        <span class="number">2104</span>
                    </li>
                    <li><span class="linecustom"><canvas width="100" height="26" style="display: inline-block; width: 100px; height: 26px; vertical-align: top;"></canvas></span>
                        Bounce Rate: <span class="number">35%</span>
                    </li>
                    <li><span class="linecustom"><canvas width="100" height="26" style="display: inline-block; width: 100px; height: 26px; vertical-align: top;"></canvas></span>
                        New Visits:
                        <span class="number">53.5%</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    -->
</div>
<!--
<div class="information-box-3">
    <div class="item">
        <div class="box-info">
            <img src="assets/images/icon/stats_1.png" alt="">
            <div class="box-figures">345.23K</div>
            <div class="box-title">1 256, 00 $</div>
        </div>
    </div>
    <div class="item">
        <div class="box-info">
            <img src="assets/images/icon/stats_2.png" alt="">
            <div class="box-figures">345.23K</div>
            <div class="box-title">1 256, 00 $</div>
        </div>
    </div>
    <div class="item">
        <div class="box-info">
            <img src="assets/images/icon/stats_3.png" alt="">
            <div class="box-figures">345.23K</div>
            <div class="box-title">1 256, 00 $</div>
        </div>
    </div>
</div>
-->
