<div>
    <div class="pagetitle">
        <h1>Действия</h1>
        <div filter></div>
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="grid-content overflow" style="width: 100%;">

            <table class="table table-bordered table-mod-2">
                <thead>
                <tr>
                    <th>Название</th>
                    <th>Количество</th>
                    <th>Пользователей</th>
                    <th>Первое</th>
                    <th>Последнее</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in events">
                        <td>
                            <a href="/events/{{item.name | base64}}/users">{{item.name}}</a>
                            <small class="label-gray">{{item.additional | additionalFormatter}}</small>
                        </td>
                        <td>{{item.count | number}}</td>
                        <td>{{item.users | number}}</td>
                        <td><nobr>{{item.firstAt | date:'short'}}</nobr></td>
                        <td><nobr>{{item.lastAt | date:'short'}}</nobr></td>
                    </tr>
                </tbody>
            </table>

            <div class="clearfix"></div>
        </div>
    </div>
</div>
