<div>
    <div class="pagetitle">
        <h1 ng-switch on="type">
            <span ng-switch-when="users">
                Пользователи
            </span>
            <span ng-switch-when="companyUsers">
                Пользователи компании
            </span>
            <span ng-switch-when="eventUsers">
                Пользователи с действием "{{eventHash | base64Decode}}"
            </span>
        </h1>
        <div filter></div>
        <div class="clearfix"></div>
    </div>
    <div>
        <div class="grid-content overflow" style="width: 100%;">

            <table class="table table-bordered table-mod-2">
                <thead>
                <tr>
                    <th>E-Mail</th>
                    <th>Компания</th>
                    <th>ФИО</th>
                    <th>Действий</th>
                    <th ng-switch on="type">
                        <span ng-switch-default>
                            Хитов
                        </span>
                        <span ng-switch-when="eventUsers">
                            Первая активность
                        </span>
                    </th>
                    <th>Последняя активность</th>
                    <th>Создан</th>
                </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in users">
                        <td><a href="/users/{{item.id}}">{{item.name}}</a></td>
                        <td><a href="/companies/{{item.additional.companyId}}/users">{{item.additional.company}}</a></td>
                        <td>{{item.additional.name}}</td>
                        <td>{{item.events | number}}</td>
                        <td ng-switch on="type">
                            <span ng-switch-default>
                                {{item.hits | number}}
                            </span>
                            <span ng-switch-when="eventUsers">
                                {{item.firstAt | date:'short'}}
                            </span>
                        </td>
                        <td ng-switch on="type">
                            <span ng-switch-default>
                                {{item.lastHitAt | date:'short'}}
                            </span>
                            <span ng-switch-when="eventUsers">
                                {{item.lastAt | date:'short'}}
                            </span>
                        </td>
                        <td>{{item.createdAt | date:'short'}}</td>
                    </tr>
                </tbody>
            </table>


            <div class="clearfix"></div>
        </div>
    </div>
</div>
