<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <span class="title">Активные пользователи</span>
                <div class="clearfix"></div>
            </div>
            <div filter></div>
            <div class="clearfix"></div>
        </div>

        <div class="grid-content overflow">
            <ul class="list-visitor">
                <li ng-repeat="item in users">
                    <span style="float:left;" class="linecustom">{{ item.hits }}</span>
                    <span style="float:left;"><a href="/users/{{item.id}}">{{item.name}}</a></span>
                    <span class="number number-right">{{ item.currentHits }}</span>
                    <span class="company">
                        <a href="/companies/{{item.additional.companyId}}/users">{{item.additional.company}}</a>
                    </span>
                    <span class="clearfix"></span>
                </li>
            </ul>
        </div>
    </div><!--/.grid-->
</div>
