<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <span class="title">Популярные браузеры</span>
                <div class="clearfix"></div>
            </div>
            <div filter></div>
            <div class="clearfix"></div>
        </div>

        <div class="grid-content overflow">
            <ul class="list-visitor">
                <li ng-repeat="item in browsers">
                    <span style="float:left;">{{ item.browser }}</span>
                    <span class="number number-right">{{ item.count }}</span>
                    <span class="clearfix"></span>
                </li>
            </ul>
        </div>
    </div><!--/.grid-->
</div>
