<div>
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <div filter hideTypeFilter="true"></div>
        <div class="clearfix"></div>
    </div>

    <div class="info-box">
        <div class="row stats-box">
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="stats-box-title">
                    <ng-pluralize class="stats-box-title" count="counts.sessions" when="{
                        '0': 'Сессий',
                        'one': 'Сессия',
                        'few': 'Сессии',
                        'many': 'Сессий'}">
                    </ng-pluralize>
                </div>
                <div class="stats-box-all-info"><span>{{ counts.sessions }}</span></div>
                <div class="chart" data-chart="sessions"></div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="stats-box-title">
                    <ng-pluralize class="stats-box-title" count="counts.events" when="{
                        '0': 'Действий',
                        'one': 'Действие',
                        'few': 'Действия',
                        'many': 'Действий'}">
                    </ng-pluralize>
                </div>
                <div class="stats-box-all-info"><span>{{ counts.events }}</span></div>
                <div class="chart" data-chart="events"></div>
            </div>

            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                <div class="stats-box-title">
                    <ng-pluralize class="stats-box-title" count="counts.hits" when="{
                        '0': 'Хитов',
                        'one': 'Хит',
                        'few': 'Хита',
                        'many': 'Хитов'}">
                    </ng-pluralize>
                </div>
                <div class="stats-box-all-info"><span>{{ counts.hits }}</span></div>
                <div class="chart" data-chart="hits"></div>
            </div>
        </div>
    </div>
</div>

