<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="grid">

        <div class="grid-title">
            <div class="pull-left">
                <span class="title">Активность</span>
                <div class="clearfix"></div>
            </div>
            <div filter hideTypeFilter="true"></div>
            <div class="clearfix"></div>
        </div>

        <div class="grid-content overflow parent-chart-block">
            <div class="chart-block">
                <div class="chart-title" style="text-align: center;">
                    <b>
                        <ng-pluralize count="graphic.users_last_hit" when="{
                            '0': '{} пользователей',
                            'one': '{} пользователь',
                            'few': '{} пользователя',
                            'many': '{} пользователей'}">
                        </ng-pluralize>
                    </b>
                    из {{graphic.users}}
                </div>
                <div data-chart="users"></div>
            </div>
            <div class="chart-block">
                <div class="chart-title" style="text-align: center;">
                    <b>
                        <ng-pluralize count="graphic.companies_last_hit" when="{
                            '0': '{} компаний',
                            'one': '{} компания',
                            'few': '{} компании',
                            'many': '{} компаний'}">
                        </ng-pluralize>
                    </b>
                    из {{graphic.companies}}
                </div>
                <div data-chart="companies"></div>
            </div>
        </div>
    </div>
</div>
