<div class="grid-transparent row quick-stats-box">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="color-box">
            <a class="a-without-style" href="/users?filter_date={{filter.date}}">
                <span>{{ counts.users }}</span>
                <ng-pluralize class="stats-box-title" count="counts.users" when="{
                    '0': 'Пользователей',
                    'one': 'Пользователь',
                    'few': 'Пользователя',
                    'many': 'Пользователей'}">
                </ng-pluralize>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="color-box red">
            <a class="a-without-style" href="/users?filter_type=createdAt&filter_date={{filter.date}}">
                <span>{{ counts.users_new }}</span>
                <ng-pluralize class="stats-box-title" count="counts.users_new" when="{
                    '0': 'Новых пользователей',
                    'one': 'Новый пользователь',
                    'few': 'Новых пользователя',
                    'many': 'Новых пользователей'}">
                </ng-pluralize>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <div class="color-box orange">
            <a class="a-without-style" href="/companies?filter_date={{filter.date}}">
                <span>{{ counts.companies }}</span>
                <ng-pluralize class="stats-box-title" count="counts.companies" when="{
                    '0': 'Компаний',
                    'one': 'Компания',
                    'few': 'Компании',
                    'many': 'Компаний'}">
                </ng-pluralize>
            </a>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 ">
        <div class="color-box green">
            <a class="a-without-style" href="/companies?filter_type=createdAt&filter_date={{filter.date}}">
                <span>{{ counts.companies_new }}</span>
                <ng-pluralize class="stats-box-title" count="counts.companies_new" when="{
                    '0': 'Новых компаний',
                    'one': 'Новая компания',
                    'few': 'Новых компании',
                    'many': 'Новых компаний'}">
                </ng-pluralize>
            </a>
        </div>
    </div>
</div>
