<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
    <div class="grid">
        <div class="grid-title">
            <div class="pull-left">
                <div class="icon-title"><i class="icon-file"></i></div>
                <span>Статистика посещений</span>
                <div class="clearfix"></div>
            </div>
            <div class="pull-right">
                <div class="btn-group">
                    <button ng-class="filterDate === 'today' ? 'active' : ''" ng-click="filterDate = 'today'; refresh(); $event.preventDefault();"
                            class="btn">
                        Сегодня
                    </button>
                    <button ng-class="filterDate === 'week' ? 'active' : ''" ng-click="filterDate = 'week'; refresh(); $event.preventDefault();"
                            class="btn">
                        Неделя
                    </button>
                    <button ng-class="filterDate === 'month' ? 'active' : ''" ng-click="filterDate = 'month'; refresh(); $event.preventDefault();"
                            class="btn">
                        Месяц
                    </button>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="grid-content overflow">
            <ul class="list-visitor">
                <li>Страниц:
                    <span class="number">{{ counts.hits }}</span>
                </li>
                <li>Сессий:
                    <span class="number">{{ counts.sessions }}</span>
                </li>
                <li>Событий:
                    <span class="number">{{ counts.events }}</span>
                </li>
                <li>Пользователей:
                    <span class="number">{{ counts.users_last_hit }}</span>
                </li>
                <li>Новых пользователей:
                    <span class="number">{{ counts.users_new }}</span>
                </li>
                <li>Компаний:
                    <span class="number">{{ counts.companies }}</span>
                </li>
                <li>Новых компаний:
                    <span class="number">{{ counts.companies_new }}</span>
                </li>
            </ul>
        </div>
    </div><!--/.grid-->
</div>
